*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Lobster+Two|Poppins:400,600);

body {
  font-family: 'Poppins', sans-serif;
  color: #6D6875;
}

.wrap {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  height: 300px;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 2px 0 #dfe1e2;
}

.header:after {
  content: "Enjoy in the outdoors!";
  text-align: center;
  color: white;
  height: 60px;
  width: 300px;
  padding-top: 12px;
  font-size: 24px;
  font-family: 'Lobster Two', cursive;
  border-radius: 10px;
  background-color: rgba(191, 149, 90, .6);
  position: absolute;
  top: 110px;
  left: 719px;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
      -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
          box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  -webkit-transform: rotate(+1.7deg);
   -moz-transform: rotate(+1.7deg);
    -ms-transform: rotate(+1.7deg);
     -o-transform: rotate(+1.7deg);
        transform: rotate(+1.7deg);
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.item {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  margin-bottom: 50px;
}

.item img {
  width: 400px;
  margin-left: 22px;
  border-radius: 10px;
  box-shadow: 0 2px 0 #dfe1e2;
}

ul {
  font-family: 'Lobster Two', cursive;
  font-size: 24px;
  margin: 0;
  position: absolute;
  top: 470px;
  left: 73px;
}

span {
  padding: 5px;
}

.social-media {
  position: absolute;
  top: 660px;
  left: 863px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

.other-products {
  width: 700px;
}

.similar-item {
  float: left;
  padding-left: 15px;
}

.similar-item img {
  width: 190px;
  height: 190px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 0 #dfe1e2;
}

form {
  text-transform: uppercase;
  width: 400px;
  position: absolute;
  top: 834px;
  left: 753px;
  padding-left: 20px;
}

input {
  font-size: 16px;
  display: block;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #bf955a;
  background-color: #f6f5f3;
  margin-top: 10px;
  margin-bottom: 10px;
}

input:focus {
  border: 2px solid #525174;
  outline: none;
}

#order {
  font-size: 16px;
  text-transform: uppercase;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: #bf955a;
  color: white;
  border: none;
  outline: none;
  margin-top: 10px;
}

#order:hover {
  background-color: #525174;
  font-weight: bolder;
}
